[Desktop Entry]
Version=1.0
Name=OPL3 Bank Editor
Name[fr]=Éditeur de banque OPL3
Name[ru]=Редактор банков OPL3
Comment=Edit OPL3 FM banks
Comment[fr]=Édite les banques FM OPL3
Comment[ru]=Редактор FM-банков для OPL3
Icon=opl3_bank_editor
Exec=opl3_bank_editor
Categories=AudioVideo;Audio
Type=Application
MimeType=application/x-opl3-wopl;application/x-opl3-fbop3;application/x-opl3-opli;application/x-dmx-op2;application/x-sb-ibk;application/x-sb-sbi;application/x-sb-ibk-unix;application/x-adlib-bnk;application/x-adlib-ins;application/x-adlib-snd;application/x-adlibgold-bnk;application/x-hmi-bnk;application/x-apogee-tmb;application/x-miles-gtl;application/x-junglevision-op3;application/x-ms-fm4-patch
