[submodule "src/midi/external/rtmidi"]
	path = src/midi/external/rtmidi
	url = https://github.com/Wohlstand/rtmidi.git
[submodule "src/audio/external/rtaudio"]
	path = src/audio/external/rtaudio
	url = https://github.com/Wohlstand/rtaudio.git
