_Misc/*         linguist-vendored
Bank_Examples/* linguist-vendored
*.h             linguist-language=cpp
*.bat           linguist-vendored
*.pro           linguist-vendored
*.sh            linguist-vendored
*.htm           linguist-vendored

