_Misc/*         linguist-vendored
Bank_Examples/* linguist-vendored
*.h             linguist-language=cpp
*.bat           linguist-vendored text eol=crlf
*.pro           linguist-vendored
*.sh            linguist-vendored
*.htm           linguist-vendored
*.txt text eol=crlf
*.def text eol=crlf
*.ts            linguist-vendored

# Watcom's project files
*.wpj text eol=crlf
*.tgt text eol=crlf
